environments/common/settings.*.php
environments/ci/settings.*.php
environments/dev/settings.*.php
environments/local/settings.*.php
environments/local/*/settings.*.php
environments/prod/settings.*.php
environments/stage/settings.*.php
environments/qa/settings.*.php

# Managed by Composer
/vendor/

# Composer PHAR
/composer.phar

# Build
/build/
.idea

.phpunit.result.cache
