name: CI

on:
  push:
    branches:
      - master
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [8.1, 8.2, 8.3]
    env:
      SCENARIO: symfony6
      HIGHEST_LOWEST: update
    steps:
      - uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: xdebug

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.composer/cache
            vendor
          key: composer-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            composer-${{ matrix.php-version }}-

      - name: Install dependencies
        run: composer scenario "${{ env.SCENARIO }}" "${{ env.HIGHEST_LOWEST }}"

      - name: Run tests
        run: composer test

      - name: Upload coverage to Coveralls
        if: success()
        run: php vendor/bin/coveralls -v
